:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #1F79AA;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
  background-color: #ffffff;
  color: #000000;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.input-style {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
  width: 80%;
  margin: 10px;
  background-color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.input-style:focus {
  border-color: #1C597C;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button {
  background-color: #C4E2F3;
  color: #161616;
  font-weight: bolder;
  border: none;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  margin: 0.5em;
  cursor: pointer;
  font-size: 20px;
  height: 10%;
  width: 40%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #A1B9C6;
}
/* === Dialog en modo claro === */
.p-dialog {
  background-color: #55B0DB !important;
  color: #000000 !important;
}

.p-dialog-content {
  background-color: #55B0DB !important;
  color: #000000 !important;
}

.p-dialog-header {
  background-color: #55B0DB !important;
  color: #000000 !important;
}